
<% @oders.each do |oder| %>
  <p>Name: <%= oder.name %></p>
  <p>Email: <%= oder.email %></p>
  <p>Items: </p>
  <ul>
    <% oder.items.each do |item| %>
    <li><%= item.quantity %> x <%= item.product.name %></li>
    <% end %>
  </ul>
<% end %>