<div>
  <div class="col-md-3">
    <%= image_tag @product.image.first ,class: 'product-image' %>
    <%= @product.product_name %><br>
    <%= @product.product_price %><br>
 <button type="button">Cart</button>
  </div>
</div>