<p>
  <strong>category name:</strong>
  <%= @category.category_name %>
</p>
<p>
  <strong>category description:</strong>
  <%= @category.category_description %>
</p>
<%= button_to 'Back', categories_path,method: :get %>

